@charset "utf-8";
@import "./reset.css";
@import "./grid-system.css";
@import "./fonts.css";
@import "./component.css";
@import "./helper-class.css";
/* ========== Create Root Project ========== */
:root {
  --primary-color: #9672fb;
  --heading-color: #2f2651;
  --text-color: #7a7490;
}
/* ========== Create Basic Style Project ========== */
body {
  color: var(--text-color);
  font-size: 2rem;
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}
/* ========== Header Style Project ========== */
.header {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  min-height: 10rem;
  display: flex;
  align-items: center;
  background: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__type {
  font-size: 2.4rem;
  font-style: italic;
  color: var(--heading-color) !important;
}
.logo__type:focus {
  color: var(--heading-color);
}
.menu {
  display: flex;
  gap: 3rem;
}
.menu__item {
  font-size: 1.4rem;
  font-weight: 600;
  color: #a19daf;
  padding-bottom: 0.6rem;
  border-bottom: 0.2rem solid transparent;
  transition: all ease-in 0.2s;
  cursor: pointer;
}
.menu__item:hover {
  border-color: var(--heading-color);
}
.nav__toggle {
  cursor: pointer;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 3.7rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.02);
  display: none;
  justify-content: center;
  align-items: center;
}
.nav-toggle-icon {
  width: 3.9rem;
  height: 0.3rem;
  background: #200e32;
  position: relative;
  border-radius: 5rem;
  transition: all 0.1s ease-in-out;
}
.nav-toggle-icon::after,
.nav-toggle-icon::before {
  content: "";
  position: absolute;
  background: #200e32;
  width: 2.1rem;
  height: 0.3rem;
  border-radius: 5rem;
  transition: all 0.3s ease-in-out;
}
.nav-toggle-icon::after {
  top: 1rem;
  left: 0;
}
.nav-toggle-icon::before {
  top: -1rem;
  right: 0;
}
.nav__toggle--open .nav-toggle-icon {
  background: transparent;
}
.nav__toggle--open .nav-toggle-icon::after {
  width: 3.9rem;
  transform: translatey(-1rem) rotate(-45deg);
}
.nav__toggle--open .nav-toggle-icon::before {
  width: 3.9rem;
  transform: translatey(1rem) rotate(45deg);
}
/* ========== Home Style Project ========== */
.home__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__image-section {
  background: url(../assets/images/Shape-header.png) no-repeat center;
}
.home__img {
  width: 100%;
  display: block;
  margin-left: auto;
}
.home__content {
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__title {
  margin-bottom: 4rem;
  direction: rtl;
  font-size: 2.8rem;
  white-space: nowrap;
}
.home__title span {
  color: var(--primary-color);
}
.btn__dowm-section {
  width: 2.4rem;
  height: 4.1rem;
  background-color: transparent;
  border: 0.35rem solid #e1e2eb;
  border-radius: 2.4rem;
  margin: auto;
  position: relative;
}
.btn__dowm-section::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 0.5rem solid #e1e2eb;
  width: 1rem;
  height: 1.5rem;
  border-radius: 100%;
}
/* ========== About App Style Project ========== */
.about-app {
  margin-top: 10rem;
}
.about__wrapper {
  background: url(../assets/images/Shape-appName.png) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about__title {
  font-size: 3rem;
  line-height: 4.8rem;
}
.about__description {
  word-spacing: 1.5rem;
  text-align: center;
  font-size: 2rem;
  line-height: 3.5rem;
}
.about-app .btn{
  margin: 5rem 0;
}
.about__icon {
  vertical-align: middle;
  margin-right: 1rem;
}
.about__container-fluid {
  margin: 2rem 0;
}
.about__container-fluid img{
  width: 100%;
}